* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000000;
    color: white;
}

/* NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #111;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo span {
    color: #6c5ce7;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #ccc;
    text-decoration: none;
}

.nav-links a:hover {
    color: white;
}

/* HERO */
.hero {
    padding: 120px 60px;
    max-width: 800px;
}

.hero h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.hero p {
    color: #aaa;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background: #6c5ce7;
    padding: 14px 28px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

/* SECTIONS */
section {
    padding: 80px 60px;
}

h2 {
    margin-bottom: 30px;
}

/* SERVICES */
.service-box {
    display: flex;
    gap: 20px;
}

.card {
    background: #161616;
    padding: 30px;
    border-radius: 8px;
    flex: 1;
}

/* CONTACT */
.contact a {
    color: #6c5ce7;
    text-decoration: none;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #777;
}
