* {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000000;
    color: white;
}

/* NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #111;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo span {
    color: #6c5ce7;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #ccc;
    text-decoration: none;
}

.nav-links a:hover {
    color: white;
}

/* HERO */
.hero {
    padding: 120px 60px;
    max-width: 800px;
}

.hero h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.hero p {
    color: #aaa;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background: #6c5ce7;
    padding: 14px 28px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

/* SECTIONS */
section {
    padding: 80px 60px;
}

h2 {
    margin-bottom: 30px;
}

/* SERVICES */
.service-box {
    display: flex;
    gap: 20px;
}

.card {
    background: #161616;
    padding: 30px;
    border-radius: 8px;
    flex: 1;
}

/* CONTACT */
.contact a {
    color: #6c5ce7;
    text-decoration: none;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #777;
}

/* SERVICES */
.service-box {
    display: flex;
    gap: 20px;
}
.kontakt {
  background: #020617;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.kontakt h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.kontakt-box {
  max-width: 500px;
  margin: auto;
  background: #0f172a;
  padding: 30px;
  border-radius: 15px;
}

.kontakt-box input,
.kontakt-box textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.kontakt-box textarea {
  height: 120px;
  resize: none;
}

.kontakt-box button {
  width: 100%;
  padding: 15px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.kontakt-box button:hover {
  background: #4f46e5;
}

.socials {
  margin-top: 40px;
}

.socials a {
  color: white;
  font-size: 28px;
  margin: 0 15px;
  transition: 0.3s;
}

.socials a:hover {
  color: #6366f1;
}

@media (max-width: 768px) {

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  .kontakt {
    padding: 60px 15px;
  }

  .kontakt-box {
    padding: 20px;
  }

  .kontakt-box input,
  .kontakt-box textarea,
  .kontakt-box button {
    font-size: 15px;
  }

  .socials a {
    font-size: 24px;
    margin: 0 10px;
  }

}
